Source: surfids-logserver
Section: misc
Priority: optional
Maintainer: SURFids team (http://ids.surfnet.nl) <ids@surfnet.nl>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 5), cdbs

Package: surfids-logserver
Architecture: all
Depends: debconf, postgresql-8.3, apache2, libapache2-mod-auth-pgsql, mail-transport-agent, xalan, perl, php5, php5-pgsql, libclass-dbi-perl, libclass-dbi-pg-perl, php5-gd, libgnupg-perl, libio-socket-ssl-perl, libnet-ssleay-perl, libmime-lite-perl, libmail-pop3client-perl, libmime-perl
Recommends: phppgadmin
Priority: optional
Description: The logging server for the SURFids framework
 The logging server for the SURFids framework. 
 Consists of the webinterface and supporting scripts.
